<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body class="h-full">
    <div class="h-full">

        <div class="flex h-full">
          <div class="flex-auto h-full">
            <nav class="bg-white border-b border-gray-200">
              <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                  <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                      <h1>Sample SaaS - {{user.email}}</h1>
                    </div>
                    <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                    </div>
                  </div>
                  <div class="ml-6 flex items-center">
                    <div class="ml-3 relative">
                      <button onclick="onManageSubscriptionClick()" alt="Sign Out" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="sign-out-button" aria-expanded="false" aria-haspopup="true">
                        Manage subscription
                      </button>
                    </div>
                    <div class="ml-3 relative">
                      <button onclick="onUpdatePaymentMethodClick()" alt="Sign Out" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="sign-out-button" aria-expanded="false" aria-haspopup="true">
                        Update payment method
                      </button>
                    </div>
                    <div class="ml-3 relative">
                      <a href="/auth/sign-out" alt="Sign Out" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="sign-out-button" aria-expanded="false" aria-haspopup="true">
                        Sign out
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            <div class="py-5">
              {{{body}}}
            </div>
          </div>
          <div class="w-1/4 bg-red-100 bg-slate-900 font-mono py-5 px-3">
            <h2 class="font-bold text-white">Bunny Integration</h2>
            <ul class="py-2">
              {{#each events}}
                <li class="py-2 text-sm">
                  <div class="text-green-500">[{{this.timestamp}}]</div>
                  <div class="text-white pl-1">{{this.message}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.bunny.com/v1/bunny.js"></script>
    <script type="text/javascript">
      const token = "{{ bunnyPortalToken }}";
      const bunny = new Bunny("demo", token);

      function onManageSubscriptionClick (e) {
        bunny.popup('subscriptions',(data) => {
          console.log('manage subscription callback', data)
        });
      }

      function onUpdatePaymentMethodClick (e) {
        bunny.popup('payment-method',(data) => {
          console.log('update payment method callback', data)
        });
      }
    </script>
  </body>
</html>
